<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LearnZenith</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>LearnZenith</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link" href="community">Community</a></li>
          <li><a class="nav-link" href="partnership">Partnership</a></li>
          <li><a class="nav-link" id="header-login-button">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to LearnZenith</h1>
      <h2>Unlock Your Potential with LearnZenith, Your Gateway to Infinite Learning</h2>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Education is the key to unlocking limitless opportunities and realizing one's full potential</h3>
              <p>
                We are passionate about providing accessible, high-quality learning experiences to individuals worldwide, empowering them to thrive in an ever-evolving world. 
                Founded on the principles of innovation, excellence, and inclusivity, LearnZenith offers a diverse range of online courses spanning various subjects and skill levels. 
                Whether you're looking to acquire new skills, advance your career, or pursue personal interests, we're here to support your learning journey every step of the way.
              </p>
              <a href="login" class="about-btn">Start Learning with Us<i class="nav-link"></i></a>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Team</h2>
          <p>
            With a background in computer science and a relentless drive for innovation, they have played a pivotal role in shaping the vision and functionality of our platform.
          </p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="assets/img/team/felix.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Felix Chang</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="150">
                  <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Tee Yu Cheng</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href="https://twitter.com/kyuguest" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/kyuguest" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/kyuguest/" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/tucheng/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                  <div class="pic"><img src="assets/img/team/wm.jpeg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Jiang Weimin</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="450">
                  <div class="pic"><img src="assets/img/team/jon.jpeg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Lim Jing Chuan Jonathan</h4>
                  <span>Software Engineer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="600">
                  <div class="pic"><img src="assets/img/team/leo.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Leo Oh Kang Weng</h4>
                  <span>UI/UX Designer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="750">
                  <div class="pic"><img src="assets/img/team/LiangZhi.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Chew Liang Zhi</h4>
                  <span>Project Manager</span>
                  <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="900">
                  <div class="pic"><img src="assets/img/team/joween.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Joween Ang</h4>
                  <span>Software Developer</span>
                  <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="1050">
                  <div class="pic"><img src="assets/img/team/elroy.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Elroy Lee</h4>
                  <span>UI/UX Designer</span>
                  <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  </div>
                </div>
                </div>
                </div>
                </div>

              </div>

              </div>
            </section><!-- End Team Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/homepage.js"></script>
</body>

</html>
